.laura {
     border: 10px solid transparent;
     border-image: url('../photos/haiku1.png') 30 round;
     border-radius: 5%;
}
.optionOne{
     color: purple;
}
.paul  {
     border: 10px solid transparent;
     border-image: url('../photos/haiku2.png') 30 round;
     border-radius: 5%;
}

.chris {
     border-radius: 5%;
     border: 10px solid transparent;
     border-image: url('../photos/haiku3.png') 30 round;
}

.leah {
     border-radius: 5%;
     border: 10px solid transparent;
     border-image: url('../photos/haiku4.png') 30 round;
}


