.App {
  text-align: center;
  font-family: 'bradley hand' ;
  background-image: url(./photos/background.png);
  

  font-variant-east-asian: jis78;
}



.text {
  line-height: 1em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 600;

}
.texty  {
  margin-top: 0%;
  line-height: 1em;

}


.button-32 {
  background-color:rgba( 224,175,155,0.7);
  border-radius: 12px;
  color: #ff5500 ;
  cursor: pointer;
  font-weight: bold;
  padding: 1;
  margin: 1px;
  text-align: center;
  transition: 200ms;
  width: 10%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: none ;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: rgba( 224,175,155,0.3);
  box-shadow: 0 0 0 2px #ff5500, 0 3px 8px 0 rgba(0,0,0,.15);
  border: none ;
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
text{
  font-size: 20px;
  font-weight: 100;
}
